.adminCon {
    display: flex;
}



.rightSideAd {
    width: 100%;
    padding: 1rem 2rem;
    min-height: 100vh;
}

.psd {
    width: 100%;
    background-color: aqua;
}

.sidebar {
    /* background: #000; */
    /* color: #fff; */
    height: 100vh;
    width: 300px;
    transition: all 0.5s;
}



.logo {
    font-size: 1rem;
    font-weight: bold;
    transition: all 0.5s;
}

.bars {
    display: flex;
    font-size: 1.4rem;
}

.link-sidebar {
    display: flex;
    /* color: #fff; */
    
    padding: 1rem 0.5rem;
    /* background-color: #D8D8D8 ;/ */
    gap: 15px;
    color: white;
    transition: all 0.5s;
}

.link-sidebar.active {
    /* background: black; */
    /* color: white; */
    /* border-top-left-radius: 10px; */
    /* border-bottom-left-radius: 10px; */
}

.link-sidebar.active:hover {
    /* background: white; */
    /* color: #000; */
    background: #24364c;
    border-left: 4px solid #632ce4;
    cursor: pointer;
    transition: 0.2s;
}

.icon {
    font-size: 1.4rem;
}

.link-sidebar .link_text {
    /* font-family: 'Lato'; */
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 1rem;
    align-items: center;
}
.sub-items{
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;
    padding-left: 20px;
    cursor: pointer;
    /* background-color: #24364c; */
    gap: 5px;
    /* color: #fff; */
    transition: all 0.5s;
}
.subItemContainer{
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 1rem 0.5rem;
}
.sideBarSubName{
    color: white;
    
}
.subItemContainer:hover{
    background: #24364c;
    border-left: 4px solid #632ce4;
    cursor: pointer;
    transition: 0.2s;
}